@model UpdateServiceDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h5>@Html.ValidationSummary()</h5>
<form method="post">
    <input type="hidden" asp-for="@Model.Id"/>
    <label class="form-label">Başlık</label>
    <input type="text" class="form-control" asp-for="@Model.Title" /><br />
    <label class="form-label">Açıklama</label>
    <textarea type="text" class="form-control" asp-for="@Model.Description"></textarea>
    <br />
    <label class="form-label">İkon</label>
    <input type="text" class="form-control" asp-for="@Model.Icon"/>
    <br />
    <button class="btn btn-primary" type="submit"><i class="fa fa-edit"></i> Güncelle</button>
</form>

