@model List<ResultBookingDto>
@{
    ViewData["Title"] = "Kiralama Paneli";
    Layout = "~/Areas/Manager/Views/Layout/Index.cshtml";
    int count = 0;
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>N°</th>
            <th>Marka</th>
            <th>Alma Yeri</th>
            <th>Bırakma Yeri</th>
            <th>Alma Tarih</th>
            <th>Birakma Tarih</th>
            <th>Telebim Durumu</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td>@booking.ModelName</td>
                <td>@booking.PickUpLocation</td>
                <td>@booking.DropUpLocation</td>
                <td class="text-nowrap">@booking.PickUpTime</td>
                <td class="text-nowrap">@booking.DropOffTime</td>
                <td>
                    @if (booking.IsApproved)
                    {
                        <span class="btn btn-info">Onaylandı</span>
                    }
                    else
                    {
                        <span class="btn btn-warning">Onay Bekleniyor</span>
                    }
                </td>
                <td>
                    @if (!booking.IsApproved)
                    {
                        <form method="post" id="formulaire">
                            <input type="hidden" id="Bookingid" asp-for="@booking.BookingId" />
                            <button class="btn btn-outline-info" type="submit">Onayla</button>
                        </form>
                    }
                    else
                    {
                        <span class="btn btn-outline-info">Onaylıdır</span>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById('Bookingid').addEventListener('submit', function(event){
        event.preventDefault;
        Swal.fire({
                title: "Emin Mısınız?",
                text: "Bu işlem geri Alamazsınız!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Evet, İptal Et!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        setcanceled();
                    }
                    return;
        });
     });
     const setApproved=function(){
            let formData=document.getElementById('Bookingid').value;
            let url=@Url.Action("Booking","SetAsApproved",new {area="Manager"});
            fetch(url,{
                method:'Post',
                headers:{
                    'content-Type':'application/json',
                    'Accept':'application/json'
                },
                body:JSON.stringify(formData)
            })
            .then(response =>response.json())
            .then(data=>{
                if(data.success){
                      Swal.fire({
                       position:"top-end",
                       title: "Talebiniz başarıyla Onaylandı!",
                       text: data.message,
                       icon: "success",
                       timer: 1500
                   });
                }
                else{
                    Swal.fire({
                            position:"top-end",
                            title: "İşlem Başarısız!",
                            text: data.message,
                            icon: "error",
                            showConfirmButton: true,
                            timer: 3000
                    });
                }
            })
    });
</script>

