@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h3>Hakkımızda</h3>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Vizyon</th>
        <th>Misyon</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutId</td>
            <td>@item.Vision</td>
            <td>@item.Mission</td>
            <td><a asp-action="Delete" asp-route-id="@item.AboutId" class="btn btn-danger"><i class="fa fa-trash me-2"></i> Sil</a> </td>
            <td><a asp-action="Update" asp-route-id="@item.AboutId" class="btn btn-success"><i class="fa fa-pen me-2"></i> Güncelle</a> </td>
        </tr>
    }
</table>
<a asp-action="Create" asp-controller="About" class="btn btn-primary"> <i class="fa fa-plus-circle me-2"></i> Ekle</a>

