@model List<ResultBookingDto>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
	<div class="card">
		<div class="card-header">
			<h5>Son Altı Kiralama Talepleri </h5>
		</div>
		<div class="card-body table-border-style">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>N°</th>
							<th>Marka</th>
							<th>Alma Yeri</th>
							<th>Bırakma Yeri</th>
							<th>Alma Tarih</th>
							<th>Birakma Tarih</th>
							<th>Kiralama Durumu</th>
						</tr>
					</thead>
					<tbody>
						@{
							int count = 0;
						}
						@foreach (var booking in Model)
						{
							count++;
							<tr>
								<th>@count</th>
								<td>@booking.ModelName</td>
								<td>@booking.PickUpLocation</td>
								<td>@booking.DropUpLocation</td>
								<td class="text-nowrap">@booking.PickUpTime</td>
								<td class="text-nowrap">@booking.DropOffTime</td>
								<td>
									@if (booking.IsApproved)
									{
										<span class="btn btn-info">Onaylandı</span>
									}
									else
									{
										<span class="btn btn-warning">Onay Bekleniyor</span>
									}
									@if (booking.IsApproved)
									{
										<span class="btn btn-warning">İptal Edilmiştir</span>
									}
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>