@model List<ResultBranchDto>
@{
    ViewData["Title"] = "Şubeler";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>N°</th>
            <th>Adresi</th>
            <th>Telefon</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var branch in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td>@branch.Adress</td>
                <td>@branch.PhoneNumber</td>
                <td><a asp-action="Delete" asp-controller="AdminBranch" asp-route-id="@branch.Id" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    Sil</a></td>
                <td><a asp-action="Update" asp-controller="AdminBranch" asp-route-id="@branch.Id" class="btn btn-success">
                    <i class="fa fa-pen"></i>
                    Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" asp-controller="AdminBranch" class="btn btn-primary"> <i class="fa fa-plus-circle me-2"></i>Ekle</a>

